<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Creditos</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let materia of materias">
      <th scope="row">{{materia.id}}</th>
      <td>{{materia.nombre}}</td>
      <td>{{materia.creditos}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteById(materia.id)">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
